h1 {
    font-family: "Sofia Sans";
    font-size: 52px;
}

h2 {
    font-family: "Sofia Sans";
    font-size: 42px;
}

p {
    font-family: "League Spartan";
    font-size: 22px;
}

.App {
    font-size: 52px;
    font-family: "Sofia Sans";
}

.navigation {
    background-color: #C8D5B9;
    position: sticky;
    top: 0;
    
}


.nav-item {
    font-family: "League Spartan";
    font-weight: bold;
    font-size: 22px;
    margin: 0 10px 0 10px;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.typewriter-effect {
    font-family: "Sofia Sans";
    font-size: 52px;
    font-weight: bold;
}

.cover-page {
    background-color: #C8D5B9;
    padding: 100px 0 0 0;
}

.cover-text {
    padding: 100px 25px 50px 25px;
    text-align: center;
}

.about-container {
    padding: 50px 0 50px 0;
    width: 75%;
}

.about-desc-row {
    margin: auto 0;
}

.about-desc-col {
    position: relative;
    bottom: 50px;
}

.projects-page {
    text-align: center;
    background-color: #C8D5B9;
    padding: 100px 0 0 0;
    
}

.projects-container {
    background-color: #C8D5B9;
}

.proj-cover {
    border-style: solid;
    border-radius: 25px;
    width: 50%;
    height: auto;
    background-color: #FAF3DD;
    margin: 0 auto;
    padding: 25px 25px 25px 25px;
    margin-top: 50px;
    
}

.proj-cover a:hover, a:visited, a:link, a:visited {
    text-decoration: none;
    color: black;
}



.proj-cover img {
    height: 200px;
}

.contact-form label {
    font-family: "League Spartan";
    font-size: 22px;
}

.contact-form input {
    border-style: none;
    border-bottom: solid;
    background-color: #C8D5B9;
    font-size: 22px;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    
}

.contact-form input:focus {
    outline: none;
}

.contact-form textarea {
    border-style: none;
    border-bottom: solid;
    background-color: #C8D5B9;
    font-size: 22px;
    width: 75%;
    height: 200px;
    margin-top: 25px;
}

.contact-form textarea {
    outline: none;
}

/* .contact-form img {
    position: relative;
    top: 25%;
} */

.submit-button:hover {
    font-weight: 900;
    background-color: #BDCEA9;
    border-radius: 25px;
}

.footer {
    text-align: center;
    background-color: #C8D5B9;
    padding-top: 50px;
}

.icon {
    margin: 0 10px 0 10px;
    color: #FAF3DD;
}

.icon:hover {
    color: #012539;
}



#home h3 {
    font-family: "Sofia Sans";
    padding-top: 200px;
}

#about {
    background-color: #C8D5B9;
    text-align: center;
    padding-top: 150px;
    
}

#about img {
    height: auto;
    align-self: center;
}

#contact {
    background-color: #C8D5B9;
    text-align: center;
    padding-top: 100px;
}

@media (max-width: 500px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
        min-width: 100%;
    }
    p {
        padding: 0 10px 0 10px;
    }

    .navigation {
        overflow-x: hidden;
        max-width: 100%;
    }
    .about-container {
        padding-left: 0;
    }
    .proj-cover img {
        height: 100px;
    }
    .contact-form img {
        height: 40px;
    }
}

@media (max-width: 900px) {
    .contact-form img {
        height: 200px;
    }
}
